  /* mobile version*/
  @media screen and (max-width: 480px) {
    #movie-mobile {
        display: inline;
    }
    
    #promotion-movie {
        width: fit-content;
        height: fit-content;
    }

    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
      }
  }

      /* tablet version*/
@media screen and (min-width: 481px) and (max-width: 1279px){
    #promotion-movie {
        width: fit-content;
        height: fit-content;
    }
}

    /* desktop version*/
@media screen and (min-width: 1280px) {
    #promotion-movie {
        width: fit-content;
        height: fit-content;
    }
}

body {
    margin: 1rem;
    background-color: #386604;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    padding: 30px;
}

h1 {
    color: #17b9b1;
}

h2 {
    color: #61cc22;
}

nav {
    color: #eedf0d;
}

p {
    color: rgb(255, 255, 255);
}

footer {
    color: 	#ffffff;
}

.cookie-statement {
    position: fixed;
    right: 0rem;
    bottom: 0rem;
    z-index: 9999;
    color: #FFF;
    opacity: 50%;
    padding: 0.1em;
    background-color: #FA0;
    margin: 0rem 0rem 0rem 1000rem;
}

    /* Index page is done with a flex-box layout module*/
* {
    box-sizing: border-box;
  }

    /* Container for flex-boxes */
.row {
    display: -webkit-flex;
    display: flex;
  }

/* Three columns */
.column {
    padding: 10px;
  }

  /* Side columns */
.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
 }

 /* Middle column */
.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }

.destination-image {
    margin: 10px;
}