body {
    background-color: #8f0e0e;
}

header {
    color: #6812da;
}

h1 {
    color: #17b9b1;
}

h2 {
    color: #61cc22;
}

nav {
    color: #eedf0d;
}

li {
    color: #eedf0d;
}

ul {
    color: #eedf0d;
}

footer {
    color: 	#D891EF;
}