body {
    margin: 1rem;
    background-color: #336d49;
}

header {
    position: relative;
}

h1 {
    color: #17b9b1;
}

h2 {
    color: #61cc22;
}

nav {
    color: #eedf0d;
}

p {
    color: rgb(201, 22, 22);
}

footer {
    color: 	#000000;
}

.cookie {
    position: fixed;
    right: 1rem;
    bottom: 2.3rem;
    margin-bottom: 16.5px;
    margin-right: 23.5px;
    z-index: 9999;
    color: #FFF;
    background-color: rgba(255, 170, 0, 0.5);
}

.statement {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 9999;
    color: #FFF;
    background-color: rgba(255, 170, 0, 0.5);
}